body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}
  
.status {
    margin-bottom: 10px;
}

.green-square {
    background-color: #91AB78;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
}

.square {
    background-color: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}

.button{
    align-items:center;
    display:inline-flex;
    flex-direction:column;
    height: 50px;
    width: 500px;
    background-color: #85AA53;
    font: 30px "Century Gothic", Futura, sans-serif;
    margin-top: 500px;
}