body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    min-width: 1300px;
}
  
ol, ul {
    padding-left: 30px;
}
  
.status {
    margin-bottom: 10px;
}

.green-square {
    background-color: #63c556;
    border: 1px solid #999;
    float: left;
    font-size: 0px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
}

.square {
    background-color: white;
    border: 1px solid #999;
    float: left;
    font-size: 0px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}

#button{
    align-items:center;
    display:inline-flex;
    flex-direction:column;
    height: 50px;
    width: 500px;
    background-color: #63f051;
    font: 30px "Century Gothic", Futura, sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
    border: solid 3px #3e8634;
    font-weight: bold;
    border-radius: 10px;
}

.timer{
    margin-left: 200px;
    font: 40px "Century Gothic", Futura, sans-serif;
    margin-bottom: 20px;
}

img{
    width:25px;
}

.randomStyle{
    color:rgb(41, 214, 93);
    font-weight: bold;
}

ul li{
    font-size: 30px;
}

.score{
    margin-left: 130px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}